/.idea
/data/*/
/results/
**/*.log
/**/build/
/**/.*/
/**/*.stats

/__pycache__/
/client/__pycache__/
/server/__pycache__/
/utils/__pycache__/
/micro/**/data/
**/*.pyc

/client/models/
/client/basic/trained_models
/client/basic/untrained_models
/client/micro/esp32/cifar10/build/
/client/micro/esp32/cifar10/data/
/client/micro/esp32/cifar10/sdkconfig
/client/micro/esp32/cifar10/sdkconfig.old
/server/default/
/server/models/
/server/provider/
/server/tuned/

/test
